@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}

body {
  background: url("Pokemon2.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.poke {
  background-color: beige;
  border: 5px solid rgb(116, 26, 26);
  width: auto;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15rem;
  font-family: "Pokemon";
}

.btn.submission {
  background-color: silver;
  display: flex;
  justify-content: center;
}

.btn.submission:hover {
  cursor: pointer;
  background-color: beige;
}

.col.describe {
  color: beige;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 5rem;
  font-family: "Pokemon";
}

.col img {
  width: 10rem;
}

.input-group.mb-3 {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30rem;
}

div.description {
  background-color: beige;
  border: 2px solid rgb(116, 26, 26);
  border-radius: 5px;
}
